@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
}

.content_area {
    width: 80%;
    max-width:1300px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.ranking_item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    margin-bottom: 10px;
}

.ranking_item .rank {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.ranking_item .image {
    margin-right: 20px;
}

.ranking_item .image img {
    max-width: 100px;
    height: auto;
    border-radius: 6px;
}

.ranking_item .details {
	transform: translateY(26px);
    display: flex;
    align-items: center;
    flex: 1;
}

.ranking_item .details .item_title {
    align-items: center;
    width: 390px;
    height: 110px;
    margin-right: 20px;
}

.ranking_item .details .title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-right: 10px;
}

.ranking_item .details .brand {
    font-size: 14px;
    color: #666;
    margin-right: 10px;
}

.ranking_item .details .delivery {
    background-color: rgb(255, 238, 224);
    border-radius: 6px;
    width: 68px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.ranking_item .details .delivery img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
}

.ranking_item .details .price_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 150px;
    height: 110px;
    margin-right: 20px;
}

.ranking_item .details .price_info del {
    color: #999;
    margin-bottom: 5px;
    display: none;
}

.ranking_item.has-discount .price_info del {
    display: inline;
}

.ranking_item .details .price_info strong {
    color: #e74c3c;
    font-size: 16px;
}

.ranking_item .details .extras {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 150px;
    height: 110px;
    margin-right: 20px;
}

.ranking_item .details .extras span {
    color: #333;
    font-size: 14px;
    margin-bottom: 5px;
}

.ranking_item .actions {
    display: flex;
    align-items: center;
    width: 150px;
    height: 110px;
}

.ranking_item .actions img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    cursor: pointer;
}
