<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unknown.mapper.MemberMapper">

	<!-- 회원가입 -->
	<insert id="memberJoin">
		INSERT INTO tbl_member (
		memberId, memberPw,
		memberName, memberPhone, memberMail,
		memberAddr1, memberAddr2,
		memberAddr3,
		adminCk, regDate, point, suspended, withdrawal
		)
		VALUES (
		#{memberId, jdbcType=VARCHAR}, #{memberPw, jdbcType=VARCHAR},
		#{memberName, jdbcType=VARCHAR}, #{memberPhone, jdbcType=VARCHAR},
		#{memberMail, jdbcType=VARCHAR}, #{memberAddr1, jdbcType=VARCHAR},
		#{memberAddr2, jdbcType=VARCHAR}, #{memberAddr3, jdbcType=VARCHAR},
		0,
		sysdate, 5000, 'N', 'N'
		)
	</insert>
	
	
	<!-- 회원 정보 수정 -->
	<update id="memberUpdate"
		parameterType="com.unknown.model.MemberVO">
		UPDATE tbl_member
		<set>
			<if test="memberPw != null">memberPw = #{memberPw},</if>
			<if test="memberPhone != null">memberPhone = #{memberPhone},</if>
			<if test="memberMail != null">memberMail = #{memberMail},</if>
			<if test="memberAddr1 != null">memberAddr1 = #{memberAddr1},</if>
			<if test="memberAddr2 != null">memberAddr2 = #{memberAddr2},</if>
			<if test="memberAddr3 != null">memberAddr3 = #{memberAddr3},</if>
			<if test="point != null">point = #{point},</if>
		</set>
		WHERE memberId = #{memberId}
	</update>
	
	<!-- 아이디 중복검사 -->
	<select id="idCheck" resultType="int">
		SELECT count(*) FROM tbl_member
		WHERE memberId = #{memberId, jdbcType=VARCHAR}
	</select>

	<!-- 로그인 -->
	<select id="memberLogin" resultType="com.unknown.model.MemberVO">
		SELECT memberId, memberPw,
		memberName, memberPhone, memberMail, memberAddr1, memberAddr2,
		memberAddr3, adminCk, point, suspended, withdrawal
		FROM tbl_member
		WHERE memberId = #{memberId, jdbcType=VARCHAR}
	</select>

	<!-- 주문자 정보 -->
	<select id="getMemberInfo"
		resultType="com.unknown.model.MemberVO">
		SELECT memberId, memberName, memberPhone, memberMail,
		memberAddr1, memberAddr2, memberAddr3, regDate, point
		FROM tbl_member
		WHERE
		memberId = #{memberId, jdbcType=VARCHAR}
	</select>
</mapper>
